<!DOCTYPE html>
<html lang="en">
<head>
  <title>VueJS project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

  <div id="app">
    <h1>{{ product }}</h1>
  </div>

  <div id="app-2">
      <h1>{{ product2 }}</h1>
    </div>

    
    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="example-1">
      <button v-on:click="counter += 10">Add 1</button>
      <p>The button can count from 0 to {{ counter }}.</p>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script src="main.js"></script>
</body>
</html>